<template>
    <div class=" col-md-offset-3 col-md-6 alert alert-danger" v-if="error && !success">
            <p>Error {{response.error}}</p>
        </div>
        <div class=" col-md-offset-3 col-md-6 alert alert-success" v-if="success">
            <p>Adding subject is completed. </p>
        </div>
        <form autocomplete="off" v-on:submit="addSubject" v-if="!success">
            <div class="form-group" >
                <input type="hidden" id="id" class="form-control" v-model="id" >
            </div>
            <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.name }">
                <label for="name">Name of subject</label>
                <input type="text" id="name" class="form-control" v-model="name" required>
                <span class="help-block" v-if="error && response.name">{{ response.name }}</span>
            </div>
            <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.professor }">
                  <label for="surname">Professor name</label>
                  <input type="text" id="professor" class="form-control" v-model="professor" required>
                   <span class="help-block" v-if="error && response.professor">{{ response.professor }}</span>
            </div>
             <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.type }">
                   <label for="type">Select type of subject</label>
                     <select id="type" class="form-control" v-model="type" >
                        <option disabled selected value> -- select an option -- </option>
                        <option value="mandatory" >mandatory</option>
                        <option value="elective" >elective</option>
                    </select>
                   <span class="help-block" v-if="error && response.type">{{ response.type }}</span>
             </div>
             <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.semester }">
                   <label for="semester">Select semester</label>
                    <select id="semester" class="form-control" v-model="semester" >
                         <option disabled selected value> -- select an option -- </option>
                         <option value="1" >1</option>
                         <option value="2" >2</option>
                         <option value="3" >3</option>
                         <option value="4" >4</option>
                         <option value="5" >5</option>
                         <option value="6" >6</option>
                         <option value="7" >7</option>
                         <option value="8" >8</option>
                     </select>
                    <span class="help-block" v-if="error && response.semester">{{ response.semester }}</span>
              </div>
              <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.theoryPoints }">
                  <label for="theoryPoints">Points from theory exam</label>
                  <input type="text" id="theoryPoints" placeholder="Default: 0"  class="form-control" v-model="theoryPoints" >
                  <span class="help-block" v-if="error && response.theoryPoints">{{ response.theoryPoints }}</span>
              </div>
            <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.practicallyPoints }">
                <label for="practicallyPoints">Points from practical exam</label>
                <input type="text" id="practicallyPoints" placeholder="Default: 0"  class="form-control" v-model="practicallyPoints" >
                <span class="help-block" v-if="error && response.practicallyPoints">{{ response.practicallyPoints }}</span>
            </div>
            <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.laboratoryPoints }">
                <label for="laboratoryPoints">Points from laboratory exercises</label>
                <input type="text" id="laboratoryPoints" placeholder="Default: 0"  class="form-control" v-model="laboratoryPoints" >
                <span class="help-block" v-if="error && response.laboratoryPoints">{{ response.laboratoryPoints }}</span>
            </div>
            <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.projectPoints }">
                 <label for="projectPoints">Points from project</label>
                 <input type="text" id="projectPoints" placeholder="Default: 0" class="form-control" v-model="projectPoints" >
                 <span class="help-block" v-if="error && response.projectPoints">{{ response.projectPoints }}</span>
            </div>
             <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.totalPoints }">
                   <label for="totalPoints">Total points that can get</label>
                   <input type="text" id="totalPoints" placeholder="Default: 100" class="form-control" v-model="totalPoints" >
                   <span class="help-block" v-if="error && response.totalPoints">{{ response.totalPoints }}</span>
              </div>
             <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.grade }">
                  <label for="grade">Grade</label>
                  <input type="text" id="grade" placeholder="Default: 5" class="form-control" v-model="grade" >
                  <span class="help-block" v-if="error && response.grade">{{ response.grade }}</span>
             </div>
               <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.credits }">
                    <label for="credits">Credits</label>
                    <input type="text" id="credits" placeholder="Default: 6" class="form-control" v-model="credits" >
                    <span class="help-block" v-if="error && response.credits">{{ response.credits }}</span>
               </div>

            <div class="form-group col-md-offset-3 col-md-6" >
                 <button type="submit" class="btn btn-primary ">Submit</button>
            </div>

        </form>




</template>

<script>

import auth from '../auth.js';

export default {

    data(){
        return {
            auth:auth,
            id:auth.user.profile.id,
            name:null,
            professor:null,
            type:null,
            semester:null,
            theoryPoints:null,
            projectPoints:null,
            practicallyPoints:null,
            laboratoryPoints:null,
            totalPoints:null,
            grade:null,
            credits:null,
            success: false,
            error: false,
            response: null
        }
    },
    methods: {
            addSubject(event) {
                event.preventDefault()
                if(this.theoryPoints==null)
                    this.theoryPoints=0
                 if(this.projectPoints==null)
                    this.projectPoints=0
                 if(this.practicallyPoints==null)
                    this.practicallyPoints=0
                 if(this.laboratoryPoints==null)
                   this.laboratoryPoints=0
                if(this.totalPoints==null)
                   this.totalPoints=100
                if(this.type==null)
                    this.type="mandatory"
                if(this.grade==null)
                    this.grade=5
                if(this.credits==null)
                    this.credits=6

                auth.addSubject(this, this.id,this.name,this.professor,this.type,this.semester, this.theoryPoints,
                this.practicallyPoints,this.laboratoryPoints, this.projectPoints, this.totalPoints, this.grade, this.credits)

                auth.check();

                console.log(auth.user.profile);
            }
     }
}


</script>

