<template>

    <div>
            <nav class="nav navbar-toggleable-md navbar-fixed-top navbar-inverse" >
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                <div class="container" >
                     <div class="navbar-header">
                         <a class="navbar-brand" v-link="{ name: 'home' }"  >Tracker</a>
                     </div>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="nav navbar-nav">

                            <li v-if="!auth.user.authenticated" > <a v-link="{ name: 'home' }" >Home</a></li>
                            <li  v-if="auth.user.authenticated" ><a v-link="{ name: 'addsubject' }" >Add subject</a></li>
                            <li v-if="auth.user.authenticated"> <a v-link="{ name: 'passedsubjects' }"  >Passed subjects</a></li>
                            <li v-if="auth.user.authenticated"><a v-link="{ name: 'notpassedsubjects' }"  >Not passed subjects</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            <li v-if="!auth.user.authenticated">

                                 <a v-link="{ name: 'register' }"><span class="glyphicon glyphicon-user"></span> Register</a>
                            </li>
                            <li v-if="!auth.user.authenticated">

                                  <a v-link="{ name: 'signin' }"><span class="glyphicon glyphicon-log-in"></span> Sign in</a>
                            </li>


                              <li  v-if="auth.user.authenticated">
                                   <a class="hi-message" > Hi, {{ auth.user.profile.name }} </a >
                               </li>
                             <li v-if="auth.user.authenticated">
                                    <a v-link="{ name: 'editprofile' }">Edit profile</a>
                             </li>
                             <li v-if="auth.user.authenticated">
                                <a href="#" v-on:click="signout">Sign out</a>
                              </li>



                         </ul>
                   </div>
                </div>

            </nav>


        <div class="container" >

            <router-view></router-view>

        </div>

    </div>

</template>


<script>
import auth from '../auth.js'

export default {
    data() {
            return {
                auth: auth
            }
        },
        methods: {
            signout() {
                auth.signout()
            }
        },
        ready() {

            auth.check()
            console.log(auth.user.profile);
        },

}
</script>

