<template>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center" >
                 <h1>System for tracking studies</h1>
                  <h3 v-if="!auth.user.authenticated" >Welcome to our site, please Sign in to continue</h3>
                  <h3  v-if="auth.user.authenticated" >Enjoy using our system, have fun in studying </h3>
            </div>
        </div>

    </div>
</template>

<script>

import auth from '../auth.js'
import Vue from '../app.js'

export default {

   data() {
       return {
           auth: auth
       }
   },

    ready() {

      auth.check()

    },
}
</script>

