<template>

        <div class="row">
            <div class="col-md-12 text-center">
                <h1> Page not found </h1>
                <h1> Please select valid route from navbar </h1>
            </div>
        </div>

</template>

<script>
    export default {

    }
</script>
