<template>

    <div class="row">
           <div class="col-md-offset-2 col-md-8">
                <div v-if="average>5" class="bigger-font well text-center"> Average grade: ({{ average.toFixed(2) }}). Credits earned : {{ totalCredits }} </div>
           </div>
    </div>
      <div class=" col-md-offset-2 col-md-8 alert alert-danger" v-if="error && !success">
          p>Error {{response.error}}</p>
      </div>
     <div v-if="passedSubjects.length==0 && notPassedSubjects.length!=0" class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="bigger-font alert alert-danger text-center" > Ooops! There are no passed subjects, sorry.. </div>
        </div>
     </div>
      <div v-if="passedSubjects.length==0 && notPassedSubjects.length==0" class="row">
             <div class="col-md-offset-2 col-md-8">
                 <div class="bigger-font alert alert-info text-center" > There are no subjects at all </div>
             </div>
      </div>


      <div v-if="passedSubjects.length!=0" class="row">
           <div class="col-md-offset-3 col-md-6" >
                <div class="panel panel-default" v-for="subject in passedSubjects">
                    <div class="panel-heading">
                        <div class="panel-title" > {{ subject.name }} </div>
                    </div>

                    <div class="panel-body" >
                        <p>Professor: {{ subject.professor }} </p>
                        <p>Grade: {{ subject.grade }} </p>
                        <p>
                            Points: {{ subject.theoryPoints+subject.practicallyPoints+subject.projectPoints+subject.laboratoryPoints }} / {{ subject.totalPoints }}
                        </p>
                        <div class="pull-right" >
                             <a   class="btn btn-primary " v-link="{ name: 'editsubject' ,params: { id: subject.id } }">Edit</a>
                             <button v-on:click="deleteSubject(subject.id)" class="btn btn-danger ">Delete</button>
                        </div>
                    </div>


                </div>
           </div>
      </div>

</template>



<script>


import auth from '../auth.js'

import Vue from '../app.js'

export default {
     data(){
            return {
                auth:auth,
                id:auth.user.profile.id,

                  average:auth.user.profile.average,
                 totalCredits:auth.user.profile.totalCredits,


                passedSubjects:[],
                notPassedSubjects:[],
                success: false,
                error: false,
                response: null
            }
        },

        methods: {

                fetchSubjects(){
                        Vue.http.get(
                            '/getPassedSubjects',
                            {
                                id:this.id,
                            }
                        ).then(response => {

                            this.passedSubjects=response.data.data;
                            this.notPassed();
                            this.success = true;
                        }, response => {
                            this.response = response.data;
                            this.error = true
                        })

                 },
                 notPassed(){
                    Vue.http.get(
                         '/getNotPassedSubjects',
                        {
                            id:this.id,
                        }
                    ).then(response => {

                        this.notPassedSubjects=response.data.data;
                        this.creditsToGet=response.data.creditsToGet;
                        this.success = true;
                    }, response => {
                        this.response = response.data;
                        this.error = true
                 })

                 },
                 deleteSubject(id){
                     Vue.http.delete(
                            '/deleteSubject',
                            {
                                id: id,
                                userID:this.id,

                            },
                        ).then(response => {

                            this.fetchSubjects()
                            auth.check1(this)

                           this.average=auth.user.profile.average
                           this.totalCredits=auth.user.profile.totalCredits

                        }, response => {
                            this.response = response.data;
                            this.error = true
                        })


                 },
         },

         ready(){
            auth.check()
             this.average=auth.user.profile.average
             this.totalCredits=auth.user.profile.totalCredits
             this.fetchSubjects()

         }

}


</script>

