<template>
    <div class=" col-md-offset-3 col-md-6 alert alert-danger" v-if="error && !success">
        <p>Error {{response.error}}</p>
    </div>
    <div class=" col-md-offset-3 col-md-6 alert alert-success" v-if="success">
        <p>Registration completed. You can now sign in.</p>
    </div>
    <form autocomplete="off" v-on:submit="register" v-if="!success">

        <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.name }">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" v-model="name" required>
            <span class="help-block" v-if="error && response.name">{{ response.name }}</span>
        </div>
        <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.surname }">
                    <label for="surname">Surname</label>
                    <input type="text" id="surname" class="form-control" v-model="surname" required>
                    <span class="help-block" v-if="error && response.surname">{{ response.surname }}</span>
        </div>
         <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.index }">
                   <label for="index">Index</label>
                   <input type="text" id="index" class="form-control" v-model="index" required>
                   <span class="help-block" v-if="error && response.index">{{ response.index }}</span>
         </div>
          <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.studyProgram }">
                   <label for="studyProgram">Study program</label>
                    <input type="text" id="studyProgram" class="form-control" v-model="studyProgram" required>
                    <span class="help-block" v-if="error && response.studyProgram">{{ response.studyProgram }}</span>
          </div>
        <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.email }">
            <label for="email">E-mail</label>
            <input type="email" id="email" class="form-control" placeholder="ex. gavin.belson@hooli.com" v-model="email" required>
            <span class="help-block" v-if="error && response.email">{{ response.email }}</span>
        </div>
        <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.password }">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" v-model="password" required>
            <span class="help-block" v-if="error && response.password">{{ response.password }}</span>
        </div>
        <div class="form-group col-md-offset-3 col-md-6" v-bind:class="{ 'has-error': error && response.password1 }">
             <label for="password1">Confirm password</label>
             <input type="password" id="password1" class="form-control" v-model="password1" required>
             <span class="help-block" v-if="error && response.password1">{{ response.password1 }}</span>
        </div>
        <div class="form-group col-md-offset-3 col-md-6" >
             <button type="submit" class="btn btn-primary ">Submit</button>
        </div>

    </form>
</template>


<script>

import auth from '../auth.js';

export default {
    data() {
        return {
            name: null,
            surname:null,
            index:null,
            studyProgram:null,
            email: null,
            password: null,
            password1:null,
            success: false,
            error: false,
            response: null
        }
    },
    methods: {
        register(event) {
            event.preventDefault()
            auth.register(this, this.name,this.surname,this.index,this.studyProgram, this.email, this.password,this.password1)
        }
    }
}
</script>

