<template>
    <div class="col-md-offset-3 col-md-6 alert alert-danger" v-if="error">
        <p>There was an error, unable to sign in with those credentials.</p>
    </div>
    <form autocomplete="off" v-on:submit="signin">

        <div class="form-group col-md-offset-3 col-md-6">
            <label for="email">E-mail</label>
            <input type="email" id="email" class="form-control" placeholder="gavin.belson@hooli.com" v-model="email" required>
        </div>
        <div class="form-group col-md-offset-3 col-md-6">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" v-model="password" required>
        </div>
        <div class="form-group col-md-offset-3 col-md-6" >
             <button type="submit" class="btn btn-success">Sign in</button>
        </div>

    </form>
</template>
<script>
import auth from '../auth.js';

export default {

    data() {
            return {
                email: null,
                password: null,
                error: false
            }
        },
        methods: {
            signin(event) {
                event.preventDefault()
                auth.signin(this, this.email, this.password)
            }
        },
        route: {
              // Check the users auth status before
              // allowing navigation to the route
              canActivate() {
                return !auth.user.authenticated
              }
        }
}
</script>